a {
    color: #0C9BFF;
    text-decoration: none;
}

a:hover {
    color: #007fd8
}

.ThePlot{
      min-height: 400px;
  padding: 40px;
background-color : rgba(47, 47, 47, 1);
}
.TheCast{
      min-height: 400px;
padding: 40px;
  background-color : rgba(47, 47, 47, 1);
    
}
.section {
    color: #ffffff;
    font-Family: 'Nanum Gothic',Dotum,sans-serif;
    min-height: 400px;
    padding: 40px;
    background-color: rgba(17, 17, 17, 0.84);
 
}
/*Sets up the columns*/
html{
    font-size: 25px;
}
/*Adds a row*/
.row {
  display: flex;
  flex-direction: row;
 
}
.section:nth-child(odd) {
background-color: rgba(17, 17, 17, 0.84);
}
.column {
  width: 50%;
  padding: 0px;
  min-height: 400px;
  flex-direction: column;
  font-family: 'Noto Serif JP', serif;
}
p{

font-size: 25px;
}
/* just for Tomdotbat */
body {
  margin: 0;
}
p2{
  font-size: 25px;
  font-family: 'Noto Serif JP', serif;
}



.title2{
  text-align: left;
  font-family: 'Noto Serif JP', serif;
}




.hideme
{
  opacity:0;
}

.titleKpop{
    color:white;
    font-style: 
    normal;font-weight: 
    bold;line-height:
    normal;font-size:
    7.5rem;margin: 0;
    font-family: 'Ubuntu',sans-serif;
    
}


h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.pagecontent {
  width: fit-content;
  height: fit-content;
  margin: auto;
  text-align: center;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}

#idkanymore{
    padding-top: 300px;
}
#idkanymore :a{
    color: White;
}
#idkanymore :a :hover{
    color: black;
}
.Indextext1{
    font-size: 25px;
    padding: 10px;
  }
  .Indextext2{
    font-size: 25px;
    padding: 10px;
  }